<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scraped Deals</title>
    #<img src="logo.png" alt="Logo" width="32px" height="32px" />
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <img src="logo.png" alt="Logo" width="32px" height="32px" />
    <h1>Scraped Deals</h1>
    <table>
        <thead>
            <tr>
                <th>Deal</th>
            </tr>
        </thead>
        <tbody id="resultContainer">
            {% for deal in data %}
            <tr>
                <td>{{ deal['scraped_deal'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
